<!-- views/add-product.ejs -->



<h1 class="mt-5 mb-4 header">Create New Ticket</h1>

<%if(errorMessage){ %>
< class="alert alert-danger" role="alert">
    <%= errorMessage %>
</div>
<%}%>

<form action="/dashboard" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
     <div class="mb-3">
        <label for="subject" class="form-label">Ticket-Title</label>
        <input type="text" class="form-control" id="subject" name="subject">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Ticket Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Status</label>
        <input type="text" class="form-control" id="price" name="price" value="Pending" readonly>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Problem Image</label>
        <!-- <input type="text" class="form-control" id="imageUrl" name="imageUrl"> -->
        <input type="file" name="imageUrl" id="imageUrl" accept="images/*" />
    </div>
    <button type="submit" class="btn btn-primary">Create Ticket</button>
</form>
